html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section{
  width: 100%;
  min-height: 100vh;
  background-color: #181823;
  color: white;
  text-align: center;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}


nav ul{
  display: flex;
  align-items: space-between;
}


/*
different colors:
black: #181823
blue: #537FE7
skyblue: #C0EEF2
light: #E9F8F9


vibrant 
-> https://colorhunt.co/palette/00ffd131c6d4ffff00ff1e1e
*/

table, th, td{
  border: 1px solid black;
}